.media-object {
  width: 60px;
}

.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
}

.highlight {
	opacity:.5;
    border-color:#444;
}
.img-thumbnail {
	marin-bottom:4px;
}

/* css flexbox to fill the height of content panel */
.flex {
	display: flex;
    display: -webkit-flex;
    flex-grow:1;
}

.flex-col,.panel {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
	flex-flow: column wrap;
    margin-bottom:0;
}

.flex-grow,.panel-body {
	display: flex;
    -webkit-flex: 2;
    flex: 2;
}
