<div class="starter-template">
  <h1>Join and Network With Connections All Around You</h1>
  <p class="lead">Enjoy a better social experience</p>
</div>

<div class="col-md-8 col-md-offset-4" id="landing-buttons">
  <a class="btn btn-primary btn-lg" href="/signup">Sign-Up</a>

  <a class="btn btn-primary btn-lg" href="/login">Login</a>
</div>
